.cards-group {
    max-width: 90vw;
    margin: 0 auto;
    padding: 0 0 5vh 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    position: relative;
    width: 300px;
    margin: calc(2vh) calc(2vw);
    font-family: 'Times New Roman', Times, serif;
    border: 0 solid transparent;
    border-radius: 10px;
}

.card .card-header {
    display: flex;
    width: 100%;
    height: 250px;
    background-color: #efefef;
    padding: 5vh;
    justify-content: center;
    align-items: center;
    border: 0 solid transparent;
    border-radius: 10px 10px 0 0;
}

.card svg, .card i {
    font-size: 7vw;
    color: #fff;
}

.card .card-body {
    width: 100%;
    background-color: #efefef;
    padding: 2vh 1vw 2vh 1vw;
}

.card .card-body p {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5vw;
    padding: 0 1vw 3vh 1vw;
    text-align: center;
}

.card .card-body a {
    display: block;
    width: 100%;
    background-color: rgb(12, 195, 195);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1vh 2vw 1vh 2vw;
    text-align: center;
    text-decoration: none;
    animation: ease .5s;
}

.card .card-body a:hover {
    background-color: rgb(8, 137, 137);
}

.cardhidden {
    display: none;
}

.card .card-header:hover {
    border:#efefef solid 4px;

}

#php .card-header {
    background-color: #787cb4;
}

#php .card-header:hover {
    background-color: #fff;
}

#php .card-header:hover svg {
    color: #787cb4;
}

#javascript .card-header {
    background-color: #f7e018;
}

#javascript .card-header:hover {
    background-color: #fff;
}

#javascript .card-header:hover svg {
    color: #f7e018;
}

#python .card-header {
    background-color: #356e9b;
}

#python .card-header:hover {
    background-color: #fff;
}

#python .card-header:hover svg {
    color: #356e9b;
}

#linux .card-header {
    background-color: rgba(0, 0, 0,.9);
}

#linux .card-header:hover {
    background-color: #fff;
}

#linux .card-header:hover svg {
    color: rgba(0, 0, 0,.9);
}

#node .card-header {
    background-color: #8ac400;
}

#node .card-header:hover {
    background-color: #fff;
}

#node .card-header:hover svg {
    color: #8ac400;
}

#algoritmos .card-header {
    background-color: rgb(59, 49, 125);
}

#algoritmos .card-header:hover {
    background-color: #fff;
}

#algoritmos .card-header:hover svg {
    color: rgb(59, 49, 125);
}

#automatizacion .card-header {
    background-color: rgb(91, 89, 89);
}

#automatizacion .card-header:hover {
    background-color: #fff;
}

#automatizacion .card-header:hover svg {
    color: rgb(91, 89, 89);
}

#github .card-header {
    background-color: #f05134;
}

#github .card-header:hover {
    background-color: #fff;
}

#github .card-header:hover svg {
    color: #f05134;
}

#celulares .card-header {
    background-color: #507568;
}

#celulares .card-header:hover {
    background-color: #fff;
}

#celulares .card-header:hover svg {
    color: #507568;
}

#laptops .card-header {
    background-color: #f5c341;
}

#laptops .card-header:hover {
    background-color: #fff;
}

#laptops .card-header:hover svg {
    color: #f5c341;
}

#html .card-header {
    background-color: #e44d26;
}

#html .card-header:hover {
    background-color: #fff;
}

#html .card-header:hover svg {
    color: #e44d26;
}

#css .card-header {
    background-color: #2091eb;
}

#css .card-header:hover {
    background-color: #fff;
}

#css .card-header:hover svg {
    color: #2091eb;
}

#ciberseguridad .card-header {
    background-color: #61c7ff;
}

#ciberseguridad:hover .card-header {
    background-color: #fff;
}

#ciberseguridad .card-header:hover svg {
    color: #61c7ff;
}

#excel .card-header {
    background-color:#006b36;
}

#excel .card-header:hover {
    background-color: #fff;
}

#excel .card-header:hover svg {
    color: #006b36;
}

#photoshop .card-header {
    background-color:#0B2683;
}

#photoshop .card-header:hover {
    background-color: #fff;
}

#photoshop .card-header:hover svg {
    color: #03CAEA;
}
#computacion .card-header {
    background-color:#0E63E7;
}

#computacion .card-header:hover {
    background-color: #fff;
}

#computacion .card-header:hover svg {
    color: #0E63E7;
}
