@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    box-sizing: border-box;
}

body {
    position: relative;
    overflow-x: hidden;
}

h1, h2, h3, h4, p {
    margin: 0;
}

.hidden {
    display: none !important;
}

.cover-content {
    background-color: rgba(0, 0, 0, 1);
    height: calc(100vh - 3.5rem);
}

footer {
    background-color: #000;
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 1vw 1vh;
}