@media screen and (max-width: 650px){
    .cartel {
        width: calc(100vw);
    }

    .cartel h2#title {
        font-size: 10vw;
    }

    .cartel span.logo {
        display: inline-block;
        font-size: 15vw;
        margin-bottom: 2vh;
    }

    .cartel span {
        font-size: 3vw;
        padding: 0 1em;
    }

    .card {
        width: 400px;
    }
}

@media screen and (max-width: 800px){
    .cartel {
        height: 65vh;
    }
    
    nav {
        display: inline-block;
        padding: 0;
    }

    nav .title {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        padding: 1.5rem 2.5rem;
    }

    #collapse-button {
        display: inline-block;
    }

    nav .navbar .nav-item {
        width: 100vw;
    }

    nav .navbar {
        display: initial;
    }

    .card .card-header span {
        font-size: 2.2vh;
    }

    .card .card-body p {
        font-size: 2.5vh;
    }

    .card .card-body a {
        width: 80%;
        margin: 0 auto;
    }
    
    .card svg, .card i {
        font-size: 15vh;
    }

    footer {
        display: block;
        text-align: center;
        font-size: 2vh;
    }

    footer p a{
        padding: 1vh;
    }
    
    @keyframes opacity-border {
        from {
            border-right: 6px solid rgba(255, 255, 255, 1);
        }
    
        to {
            border-right: 6px solid rgba(255, 255, 255, 0);
        }
    }
}

@media screen and (max-width: 1050px) {
    .separate .title {
        font-size: 4vh;
    }
    .card .card-body p {
        font-size: 2.5vh;
    }
    .separate .button {
        font-size: 2vh;
    }
}
