nav {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15vw;
}

nav .title {
    float: left;
    font-size: 1.5rem;
    color: rgba(255, 255, 255, .8);
}

#collapse-button {
    display: none;
}

#collapse-button:hover {
    cursor: pointer;
}

nav .navbar {
    list-style: none;
    margin: 0;
    padding: 0;
    transition: all 0.3s ease;
}

nav .navbar .nav-item {
    display: inline-block;
    padding: 1.5rem 2.5rem;
    transition: all 0.5s ease 0s;
}

nav .navbar .nav-item:hover {
    cursor: pointer;
    color:rgb(12, 195, 195);
    border-bottom: 2px solid rgb(12, 195, 195);
}

nav .navbar .nav-link:hover {
    color: rgb(12, 195, 195);
}

nav .navbar .nav-link {
    text-decoration: none;
    font-size: 1rem;
    color: rgba(255, 255, 255, .8);
}